/*
Mezzanine API

Sharded cell-based data store

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mezzanine

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// CellsAPIService CellsAPI service
type CellsAPIService service

type ApiGetCellRequest struct {
	ctx context.Context
	ApiService *CellsAPIService
	rowKey string
	columnName string
	refKey int64
}

func (r ApiGetCellRequest) Execute() (*CellResponse, *http.Response, error) {
	return r.ApiService.GetCellExecute(r)
}

/*
GetCell Get exact cell version

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param rowKey Row key UUID
 @param columnName Column name
 @param refKey Reference key version
 @return ApiGetCellRequest
*/
func (a *CellsAPIService) GetCell(ctx context.Context, rowKey string, columnName string, refKey int64) ApiGetCellRequest {
	return ApiGetCellRequest{
		ApiService: a,
		ctx: ctx,
		rowKey: rowKey,
		columnName: columnName,
		refKey: refKey,
	}
}

// Execute executes the request
//  @return CellResponse
func (a *CellsAPIService) GetCellExecute(r ApiGetCellRequest) (*CellResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CellResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CellsAPIService.GetCell")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cells/{row_key}/{column_name}/{ref_key}"
	localVarPath = strings.Replace(localVarPath, "{"+"row_key"+"}", url.PathEscape(parameterValueToString(r.rowKey, "rowKey")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"column_name"+"}", url.PathEscape(parameterValueToString(r.columnName, "columnName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"ref_key"+"}", url.PathEscape(parameterValueToString(r.refKey, "refKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCellLatestRequest struct {
	ctx context.Context
	ApiService *CellsAPIService
	rowKey string
	columnName string
}

func (r ApiGetCellLatestRequest) Execute() (*CellResponse, *http.Response, error) {
	return r.ApiService.GetCellLatestExecute(r)
}

/*
GetCellLatest Get latest cell version

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param rowKey Row key UUID
 @param columnName Column name
 @return ApiGetCellLatestRequest
*/
func (a *CellsAPIService) GetCellLatest(ctx context.Context, rowKey string, columnName string) ApiGetCellLatestRequest {
	return ApiGetCellLatestRequest{
		ApiService: a,
		ctx: ctx,
		rowKey: rowKey,
		columnName: columnName,
	}
}

// Execute executes the request
//  @return CellResponse
func (a *CellsAPIService) GetCellLatestExecute(r ApiGetCellLatestRequest) (*CellResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CellResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CellsAPIService.GetCellLatest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cells/{row_key}/{column_name}"
	localVarPath = strings.Replace(localVarPath, "{"+"row_key"+"}", url.PathEscape(parameterValueToString(r.rowKey, "rowKey")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"column_name"+"}", url.PathEscape(parameterValueToString(r.columnName, "columnName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRowRequest struct {
	ctx context.Context
	ApiService *CellsAPIService
	rowKey string
}

func (r ApiGetRowRequest) Execute() (*RowResponse, *http.Response, error) {
	return r.ApiService.GetRowExecute(r)
}

/*
GetRow Get all latest cells for a row

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param rowKey Row key UUID
 @return ApiGetRowRequest
*/
func (a *CellsAPIService) GetRow(ctx context.Context, rowKey string) ApiGetRowRequest {
	return ApiGetRowRequest{
		ApiService: a,
		ctx: ctx,
		rowKey: rowKey,
	}
}

// Execute executes the request
//  @return RowResponse
func (a *CellsAPIService) GetRowExecute(r ApiGetRowRequest) (*RowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RowResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CellsAPIService.GetRow")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cells/{row_key}"
	localVarPath = strings.Replace(localVarPath, "{"+"row_key"+"}", url.PathEscape(parameterValueToString(r.rowKey, "rowKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPartitionReadRequest struct {
	ctx context.Context
	ApiService *CellsAPIService
	partitionNumber *int64
	readType *int64
	createdAfter *time.Time
	addedId *int64
	limit *int64
}

// Partition number
func (r ApiPartitionReadRequest) PartitionNumber(partitionNumber int64) ApiPartitionReadRequest {
	r.partitionNumber = &partitionNumber
	return r
}

// Read type
func (r ApiPartitionReadRequest) ReadType(readType int64) ApiPartitionReadRequest {
	r.readType = &readType
	return r
}

// Filter cells created after this timestamp
func (r ApiPartitionReadRequest) CreatedAfter(createdAfter time.Time) ApiPartitionReadRequest {
	r.createdAfter = &createdAfter
	return r
}

// Filter cells added after ID
func (r ApiPartitionReadRequest) AddedId(addedId int64) ApiPartitionReadRequest {
	r.addedId = &addedId
	return r
}

// Maximum number of cells to return
func (r ApiPartitionReadRequest) Limit(limit int64) ApiPartitionReadRequest {
	r.limit = &limit
	return r
}

func (r ApiPartitionReadRequest) Execute() ([]CellResponse, *http.Response, error) {
	return r.ApiService.PartitionReadExecute(r)
}

/*
PartitionRead Read a partition of cells

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPartitionReadRequest
*/
func (a *CellsAPIService) PartitionRead(ctx context.Context) ApiPartitionReadRequest {
	return ApiPartitionReadRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CellResponse
func (a *CellsAPIService) PartitionReadExecute(r ApiPartitionReadRequest) ([]CellResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CellResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CellsAPIService.PartitionRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cells/partitionRead"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.partitionNumber == nil {
		return localVarReturnValue, nil, reportError("partitionNumber is required and must be specified")
	}
	if r.readType == nil {
		return localVarReturnValue, nil, reportError("readType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "partition_number", r.partitionNumber, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "read_type", r.readType, "form", "")
	if r.createdAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_after", r.createdAfter, "form", "")
	}
	if r.addedId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "added_id", r.addedId, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWriteCellRequest struct {
	ctx context.Context
	ApiService *CellsAPIService
	writeCellBody *WriteCellBody
}

func (r ApiWriteCellRequest) WriteCellBody(writeCellBody WriteCellBody) ApiWriteCellRequest {
	r.writeCellBody = &writeCellBody
	return r
}

func (r ApiWriteCellRequest) Execute() (*CellResponse, *http.Response, error) {
	return r.ApiService.WriteCellExecute(r)
}

/*
WriteCell Write a cell

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWriteCellRequest
*/
func (a *CellsAPIService) WriteCell(ctx context.Context) ApiWriteCellRequest {
	return ApiWriteCellRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CellResponse
func (a *CellsAPIService) WriteCellExecute(r ApiWriteCellRequest) (*CellResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CellResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CellsAPIService.WriteCell")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cells"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.writeCellBody == nil {
		return localVarReturnValue, nil, reportError("writeCellBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.writeCellBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
